html {
  text-align: center;
}

.header-image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

li {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding-bottom: 15px;
}

a {
color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h5 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
